{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="text-danger">Hay errores en los campos:</p>    
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-2">
                <div class="form-group">
                    {{ form.titulo.errors }}
                    <label for="{{ form.titulo.name }}">{{ form.titulo.label }}</label>
                    {{ form.titulo }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 mb-2">
                <div class="form-group">
                    {{ form.autores.errors }}
                    <label for="{{ form.autores.name }}">{{ form.autores.label }}</label>
                    {{ form.autores }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 mb-2">
                <div class="form-group">
                    {{ form.editor.errors }}
                    <label for="{{ form.editor.name }}">{{ form.editor.label }}</label>
                    {{ form.editor }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 mb-2">
                <div class="form-group">
                    {{ form.fecha_publicacion.errors }}
                    <label for="{{ form.fecha_publicacion.name }}">{{ form.fecha_publicacion.label }}</label>
                    {{ form.fecha_publicacion }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 mb-2">
                <div class="form-group">
                    {{ form.portada.errors }}
                    <label for="{{ form.portada.name }}">{{ form.portada.label }}</label>
                    {{ form.portada }}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group mt-4">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>

{% endblock %}